.elements.not-footer:not(.header-elements) div.paragraph,
.elements.not-footer:not(.header-elements) p,
.elements.not-footer:not(.header-elements) .product-block .product-title,
.elements.not-footer:not(.header-elements) .product-description,
.elements.not-footer:not(.header-elements) .form-field label,
.elements.not-footer:not(.header-elements) .form-field label,
#content div.paragraph,
#content p,
#content .product-block .product-title,
#content .product-description,
#content .form-field label,
#content .form-field label,
.blog-sidebar div.paragraph,
.blog-sidebar p,
.blog-sidebar .form-field label,
.blog-sidebar .form-field label {
    font-family: "Work Sans" !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

#content div.paragraph,
#content p,
#content .product-block .product-title,
#content .product-description,
#content .form-field label,
#content .form-field label,
.blog-sidebar div.paragraph,
.blog-sidebar p,
.blog-sidebar .form-field label,
.blog-sidebar .form-field label {}

.elements.footer div.paragraph,
.elements.footer p,
.elements.footer .product-block .product-title,
.elements.footer .product-description,
.elements.footer .form-field label,
.elements.footer .form-field label {
    font-family: "Karla" !important;
}

.elements.not-footer:not(.header-elements) h2,
.elements.not-footer:not(.header-elements) .product-long .product-title,
.elements.not-footer:not(.header-elements) .product-large .product-title,
.elements.not-footer:not(.header-elements) .product-small .product-title,
#content h2,
#content .product-long .product-title,
#content .product-large .product-title,
#content .product-small .product-title,
.blog-sidebar h2 {
    font-family: "Karla" !important;
}

#content h2,
#content .product-long .product-title,
#content .product-large .product-title,
#content .product-small .product-title,
.blog-sidebar h2 {
    color: #3f3f3f !important;
}

.elements.footer h2,
.elements.footer .product-long .product-title,
.elements.footer .product-large .product-title,
.elements.footer .product-small .product-title {}

#title {
    font-family: "Karla" !important;
    text-transform: none !important;
}

.menu-default a {
    font-family: "Work Sans" !important;
    text-transform: none !important;
}

.menu a {}

.image div,
.caption {}

.galleryCaptionInnerText {}

.fancybox-title {}

.wslide-caption-text {}

.phone {}

.headline,
.header-section .content-title {
    font-family: "Work Sans" !important;
    font-weight: 400 !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
}

.headline-paragraph,
.header-section .paragraph {
    font-family: "Karla" !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
}

.button-inner {}

.not-footer blockquote {}

.footer blockquote {}

.blog-header h2 a {}

#content h2.product-title {}

.product .product-price a {}

@media screen and (min-width: 767px) {

    .elements.not-footer:not(.header-elements) div.paragraph,
    .elements.not-footer:not(.header-elements) p,
    .elements.not-footer:not(.header-elements) .product-block .product-title,
    .elements.not-footer:not(.header-elements) .product-description,
    .elements.not-footer:not(.header-elements) .form-field label,
    .elements.not-footer:not(.header-elements) .form-field label,
    #content div.paragraph,
    #content p,
    #content .product-block .product-title,
    #content .product-description,
    #content .form-field label,
    #content .form-field label,
    .blog-sidebar div.paragraph,
    .blog-sidebar p,
    .blog-sidebar .form-field label,
    .blog-sidebar .form-field label {}

    #content div.paragraph,
    #content p,
    #content .product-block .product-title,
    #content .product-description,
    #content .form-field label,
    #content .form-field label,
    .blog-sidebar div.paragraph,
    .blog-sidebar p,
    .blog-sidebar .form-field label,
    .blog-sidebar .form-field label {}

    .elements.footer div.paragraph,
    .elements.footer p,
    .elements.footer .product-block .product-title,
    .elements.footer .product-description,
    .elements.footer .form-field label,
    .elements.footer .form-field label {}

    .elements.not-footer:not(.header-elements) h2,
    .elements.not-footer:not(.header-elements) .product-long .product-title,
    .elements.not-footer:not(.header-elements) .product-large .product-title,
    .elements.not-footer:not(.header-elements) .product-small .product-title,
    #content h2,
    #content .product-long .product-title,
    #content .product-large .product-title,
    #content .product-small .product-title,
    .blog-sidebar h2 {
        font-size: 37px !important;
    }

    #content h2,
    #content .product-long .product-title,
    #content .product-large .product-title,
    #content .product-small .product-title,
    .blog-sidebar h2 {}

    .elements.footer h2,
    .elements.footer .product-long .product-title,
    .elements.footer .product-large .product-title,
    .elements.footer .product-small .product-title {}

    #title {
        font-size: 31px !important;
    }

    .menu-default a {
        font-size: 13px !important;
    }

    .menu a {}

    .image div,
    .caption {}

    .galleryCaptionInnerText {}

    .fancybox-title {}

    .wslide-caption-text {}

    .phone {}

    .headline,
    .header-section .content-title {
        font-size: 90px !important;
    }

    .headline-paragraph,
    .header-section .paragraph {}

    .button-inner {}

    .not-footer blockquote {}

    .footer blockquote {}

    .blog-header h2 a {}

    #content h2.product-title {}

    .product .product-price a {}
}